body {
    margin: 0;
    background-color: rgb(100,100,100);
}
p, button, input, div {
    font-family: 'Montserrat', sans-serif;
}

button {
    font-weight: 700
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: rgb(60,60,60);
    border-bottom: 2px solid black;
}

#logoNavbar {
    display: inline;
    position: absolute;
    width: 175px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#followthru {
    display: inline;
    position: absolute;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    left: 50%;
    top: 50%;
    transform: translateX(-25%) translateY(-135%);
}

#sidebar {
    position: fixed;
    width: 20%;
    height: auto;
    min-height: 90%;
    top: 10%;
    background-color: rgb(85,85,85);
}

#content {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 20%;
}

#logo {
    position: relative;
    width: 60%;
    height: auto;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
}

.buttons {
    position: relative;
    width: 100%;
    height: 65px;
    top: 15px;
    margin-top: 10px;
    color: white;
    background-color: rgb(85,85,85);
    border: none;
    cursor: pointer;
    font-weight: 700;

    transition: .1s;
    outline: none;
}

.views {
    position: absolute;
    width: 97.5%;
    left: 50%;
    transform: translateX(-50%) ;
}

#regNewClientView, #removeClientView, #changePassView {
    display: none;
}

#goalsHeader, #registerHeader, #removeHeader, #changeHeader, #regNewFname, #regNewLname, #regNewEmail, #regNewPassword, #regNewButton, 
#oldPass, #newPass, #newPassConfirm, #confirmPassButton {
    position: relative;
    display: block;
    top: 5%;
    margin-top: 20px;
}

#goalsHeader, #registerHeader, #removeHeader, #changeHeader {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
}

#regNewFname, #regNewLname, #regNewEmail, #regNewPassword, #oldPass, #newPass, #newPassConfirm {
    width: 50%;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.inputs {
    color: black;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 2px solid white;

    outline: none;
}
.inputs:focus {
    box-shadow: 0 15px 25px -14px rgb(0,198,255);
    border-bottom: 2px solid rgb(0,198,255);
}

#regNewButton, #confirmPassButton {
    width: 200px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    background-color: rgb(0,198,255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
    outline: none;
    font-weight: 700
}
#regNewButton:hover, #confirmPassButton:hover {
    color: white;
    background-color: rgb(0,135,185);
}

.clientDiv, .removeClientDiv {
    position: relative;
    width: 70%;
    height: 75px;
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 3px solid rgb(200,200,200);
}

.client, .clientEmail {
    position: relative;
    left: 2.5%;
    top: 7.5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: rgb(200,200,200);
}

.clientEmail {
    font-size: 15px;
    color: rgb(175,175,175);
}

.clientButton {
    position: absolute;
    right: 2.5%;
    top: 12.5%;
    height: 35px;
    color: black;
    background-color: rgb(0,198,255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
    outline: none;
    font-weight: 700
}
.clientButton:hover {
    color: white;
    background-color: rgb(0,135,185);
}

.swal2-modal {
    border: .25vw solid whitesmoke;
    box-shadow: 0 0 20vw black;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(175,175,175);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgb(175,175,175);
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: rgb(175,175,175);
  }
  :-moz-placeholder { /* Firefox 18- */
    color: rgb(175,175,175);
  }