body {
    margin: 0;
    background-color: rgb(100,100,100);
}

#navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: rgb(60,60,60);
    border-bottom: 2px solid black;
}

#backToMenu {
    position: absolute;
    left: 1.75%;
    top: 37.75%;
    transform: translateY(-50%);
    font-size: 100px;
    color: white;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    cursor: pointer;
    transition: .1s;
}
#backToMenu:hover {
    color: rgb(125,125,125);
}

#clientNameText {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

#logo {
    position: absolute;
    right: 5%;
    width: 60px;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}

#chartDiv {
    position: absolute;
    width: 50%;
    top: 75px;
}

#setGoalsDiv {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 75px;
}

.buttons {
    position: relative;
    width: 300px;
    height: 60px;
    left: 50%;
    top: 50%;
    transform: translateX(-100%) translateY(-50%);
    color: rgb(0,198,255);
    background-color: rgba(0,0,0,0);
    border: 2px solid white;
    border-radius: 15px;

    transition: .1s;
    outline: none;
    cursor: pointer;
}
.buttons:hover {
    background-color: white;
}

#setGoalsButton {
    margin-left: -5px;
}

#monitorGoalsButton {
    margin-left: 10px;
}

#goalTitle, #goalDescription, #goalDueDate, #addGoalButton {
    position: relative;
    display: block;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.inputs {
    width: 450px;
    height: 50px;
    color: black;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 2px solid white;

    outline: none;
}
.inputs:focus {
    box-shadow: 0 15px 25px -14px rgb(0,198,255);
    border-bottom: 2px solid rgb(0,198,255);
}

#addGoalButton {
    width: 150px;
    height: 50px;
    color: black;
    background-color: rgba(0,0,0,0);
    border: 2px solid rgb(0,198,255);
    border-radius: 15px;

    transition: .1s;
    outline: none;
    cursor: pointer;
}
#addGoalButton:hover {
    background-color: rgb(0,198,255);
}

#monitorGoalsDiv {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 75px;

    display: none;
}

.responseGoalDiv {
    position: relative;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(125,125,125);
}

.swal2-modal {
    border: .25vw solid whitesmoke;
    box-shadow: 0 0 20vw black;
}

canvas {
    position: fixed;
    width: content-box;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}