body {
    margin: 0;
    background-color: rgb(100,100,100);
}

p, button, input, div {
    font-family: 'Montserrat', sans-serif;
}

button {
    font-weight: 700
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: rgb(60,60,60);
    border-bottom: 2px solid black;
}

#backToMenu {
    position: absolute;
    left: 1.75%;
    top: 37.75%;
    transform: translateY(-50%);
    font-size: 100px;
    color: white;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    cursor: pointer;
    transition: .1s;
}
#backToMenu:hover {
    color: rgb(125,125,125);
}

#clientNameText {
    position: absolute;
    left: 5%;
    top: 50%;
    font-weight: 700;
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
}

#logo {
    position: absolute;
    right: 5%;
    width: 60px;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}

#chartDiv {
    position: absolute;
    width: 50%;
    top: 75px;
}

#setGoalsDiv {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 75px;
}

.buttons {
    position: relative;
    width: 250px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translateX(-100%) translateY(-50%);
    color: black;
    background-color: rgb(0,198,255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
    outline: none;
}
.buttons:hover {
    color: white;
    background-color: rgb(0,135,185);
}

#setGoalsButton {
    margin-left: -5px;
}

#monitorGoalsButton {
    margin-left: 10px;
}

#setGoalsTitle, #monitorGoalsTitle {
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

#goalTitle, #goalDescription, #goalDueDate, #addGoalButton {
    position: relative;
    display: block;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.inputs {
    width: 450px;
    height: 50px;
    color: white;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 2px solid white;

    outline: none;
}
.inputs:focus {
    box-shadow: 0 15px 25px -14px rgb(0,198,255);
    border-bottom: 2px solid rgb(0,198,255);
}

#goalDueDate {
    height: 27px;
    color: white;
    background-color: rgb(125,125,125);
    border: 2px solid rgb(0,198,255);
}

#addGoalButton {
    width: 125px;
    height: 50px;
    color: black;
    background-color: rgb(0,198,255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
    outline: none;
}
#addGoalButton:hover {
    color: white;
    background-color: rgb(0,135,185);
}

#monitorGoalsDiv {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 75px;
    
    font-family: 'Montserrat', sans-serif;
    display: none;
}

.responseGoalDiv {
    position: relative;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    border-top: 3px solid rgb(200,200,200);
}

.responseGoalTitle, .responseGoalDescription, .responseGoalDueDate, .responseGoalStatusText {
    position: relative;
    font-size: 15px;
    color: rgb(200,200,200);
}

.responseGoalTitle {
    font-size: 17px;
    color: white;
}

.responseGoalStatus {
    position: relative;
    font-size: 15px;
}

.deleteGoalButton, .clearGoalButton {
    position: relative;
    width: 75px;
    height: 35px;
    color: black;
    background-color: rgb(0,198,255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
    outline: none;
}
.clearGoalButton:hover {
    color: white;
    background-color: rgb(0,135,185);
}

.deleteGoalButton {
    color: white;
    background-color: #ef5350;
}
.deleteGoalButton:hover {
    background-color: #ac3533;
}

.swal2-modal {
    border: .25vw solid whitesmoke;
    box-shadow: 0 0 20vw black;
}

canvas {
    position: fixed;
    width: content-box;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(175,175,175);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgb(175,175,175);
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: rgb(175,175,175);
  }
  :-moz-placeholder { /* Firefox 18- */
    color: rgb(175,175,175);
  }